
body {
  background: #537D8D;
  font-family: 'Arvo', serif;
}

.container {
  margin-top: 20px;

  padding: 20px;
  width: 500px;
height: 500px;
	 background: #E5D352;

}

h1 {
  text-align: center;
  font-weight: 700;
  color: #AC3931;
  font-family:cursive;
}

h2, h3, h4 {
  text-align: center;
  font-weight: 400;
  color: #AC3931;
}
input{
    font:inherit;
    
}
p {
  color: #482C3D;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.btn {
  font-weight: 700;
}

.btn-default {
  background: white;
  border: none;
  color: #AC3931;
}

.btn-default:hover {
  background: #AC3931;
  border: none;
  color: white;
}

#status {
  padding: 10px;
}

.container-fluid a {
  color: #FFFFFF;
}


parent {

    left: 0;
    top: 0;
    width: 400px;
    height: 100%;
}

.message,.message-1 {
    height: 200px;
    width: 200px;
    align-content: center;
 
    color: white;
    z-index: -9999;
    line-height: 115px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;

    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

th {
	background-color: #d59433;
	padding: 3px; 
	color: White; 
	font-size: 12px;
	font-family: Verdana; 
}
td {
	background-color:rgba(255,4,4,0.9);
	padding: 3px; 
	color: White; 
	font-size: 12px;
	font-family: Verdana; 
}
.separate {
	border-radius: 10px;
	border-spacing: 0;
	border-collapse: separate;
}
.separate td, table.separate th {
	border-bottom: 1px solid PaleVioletRed;
	border-right: 1px solid PaleVioletRed;
}
.separate tr:last-child td:first-child {
	border-bottom-left-radius: 10px;
}

#startGame{
    text-align: center;
    width:50%;
    height: 50%;
    border-radius: 50%;
    margin: 0 auto;
}
#startGame p{
padding-top:40%;
}
#startGame p :hover{
color:white;
}
#tryIt{
    margin-top: 10px 
}